#
# Copyright 2025-2026 NXP
# SPDX-License-Identifier: BSD-3-Clause

mainmenu "SE05X nfc commissioning example"

rsource "../common/Kconfig.prov.common"
rsource "../../../matter/se05x_demos_common/Kconfig.se05x.common"
